@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
}

.wrapper{
    display:  flex;
    justify-content: space-around;

}

.card{
    background-color: #FFE3C4;
    display: flex;
    justify-content:  center;
    align-items: center;
    width: 150px;
    height: 150px;
}
.Dancing{
    font-family:  'Dancing Script', cursive;
}
.Rubik{
    font-family: 'Rubik Pixels', cursive;
}
.Sedgwick{
    font-family: 'Sedgwick Ave Display', sans-serif;
}
.Fjalla{
    font-family: 'Fjalla One', sans-serif;
}
.Indie{
    font-family: 'Indie Flower', cursive;
}